header {
    grid-area:h;
}

nav {
    grid-area:n;
}

article {
    grid-area:ar;
}

aside {
    grid-area:as;
}

footer {
    grid-area:f;
}

main {
    display:grid;
    grid-template-columns:1fr 3fr 2fr;
    grid-template-areas: 
    "h  h  h"
    "n  n  n"
    "ar ar as"
    "f  f  f";
}