table, td,th {
    border:1px solid gray;
    border-left: none;
    border-right: none;
    border-top: none;
}

td {
    margin:auto;
    border-collapse: collapse;
    text-align: center;
}


table {
    border-collapse: collapse;
    width: 90%;
    margin:auto;
    min-width: 500px;
}
thead tr {
    background-color:white;
}
th {
    color: black;
}

tbody tr:nth-child(odd){
    background-color: rgb(173, 184, 192);
}

.resz{
    overflow-x:auto;
}
